@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Caveat:wght@400..700&family=Montserrat:ital,wght@1,100&family=Quicksand:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

body {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

}

header {
    width: 90vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(146, 132, 87);
    padding: 10px;
}

nav {
    width: 70vw;
    height: 5vh;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(165, 173, 89);
}

ul {
    display: flex;
    gap: 30px;
}
li{
    font-weight: 600px;
}

#Flor1 {

    width: 80px;
    height: 80px;
}

main {
    width: 90vw;
    height: 70vh;
    background-color: rgb(233, 185, 122);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

section{
    width: 55vw;
    height: 55vh;
    gap: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 100, 0, 0.479);
}

#art1{
    width: 40vw;
    height: 10vh;
    background-color: goldenrod;
}

#art2{
    width: 40vw;
    height: 20vh;
    background-color: goldenrod;
}

aside{
    width: 25vw;
    height: 55vh;
    background-color: rgba(0, 100, 0, 0.479);
    display: flex;
    align-items: center;
    justify-content: center;
}
#art1{
display: flex;
align-items: center;
justify-content: center;
}
#art2{
display: flex;
align-items: center;
justify-content: center;
padding: 30px;
}

#escrita-margarida{
    font-size: 50px;
    
}

#margarida{
    width: 45vw;
    height: 45vh;
}


footer{
    width: 90vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkolivegreen;
}
